@use "../../../styles/mixins/breakpoint.scss" as *;

.item {
  padding: .6em;
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
  font-weight: bold;
  transition: filter .12s linear;
  filter: brightness(.6);
}

.desktop {
  text-align: left;
  flex-direction: row;
  gap: 1.2rem;

  &:hover {
    filter: brightness(1);
  }

  &.isActive {
    filter: brightness(1);
    background-color: var(--item-hover-bg-color);
    border-radius: .29em;
  }
}

.mobile {
  flex-direction: column;

  &:active {
    filter: brightness(.6);
    transform: scale(.96);
  }
  
  &.isActive {
    filter: brightness(1);
  }
}