/* 

HEADER, CABECERA DEL CONTENIDO PRINCIPAL

*/
@use "./page-navigation";
@use "./field-search.scss";
@use "./button-premium";

/* para todos los HEADER */
.HEADER {
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-area: HEADER-MAIN;
  padding: .46rem;
  height: 3.6rem;
  width: 100%;
  background-color: var(--header-color);
}