.container {
  grid-column: 4 / span 1;
  justify-self: end;
  align-self: center;
  position: relative;
  margin: 0 1.2rem;
}

.active {
  .btn {
    background-color: var(--menu-hover-bg-color);
  }
  .menu {
    display: block;
  }
  .icon {
    transform: rotate(-90deg);
  }
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .6rem;
  height: 100%;
  padding: .2rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--user-bg-color);

  &:hover {
    background-color: var(--menu-hover-bg-color);
  }
}

.imgContainer {
  padding: 1px;
  border-radius: 50%;
  background-color: var(--item-hover-bg-color);
  overflow: hidden;
}

.name {
  color: var(--color-title);
}

.icon {
  transform: rotate(90deg);
  margin-right: .6rem;
}

.menu {
  display: none;
  position: absolute;
  top: 119%;
  right: 0;
  background-color: var(--menu-hover-bg-color);
  padding: .29rem;
  border-radius: .27rem;
}

.link{
  padding: .6rem .4rem;
  display: block;
  text-align: left;
  color: var(--link-color);
  border-radius: .12rem;

  &:hover {
    background-color: var(--link-hover-bg-color);
  }
}