.container {
  z-index: var(--index-overlay);
  opacity: 0;
  transition: .126s linear;
  
  .item:hover &, &.active {
    opacity: 1;
  }
}

.card {
  right: .29rem;
  position: absolute;
  bottom: 0;

  .item:hover &, &.active {
    transform: translateY(-12.6%);
  }
}

.compact {
  margin-left: auto;
  margin-right: .9rem;
}

.btn {
  padding: .5rem;
  border-radius: 50%;
  background-color: rgb(0, 200, 0);
  transition: .027s linear;
  &:hover {
    transform: scale(109%);
  }
}

.playIcon, .active .pauseIcon {
  display: block;
}

.pauseIcon, .active .playIcon {
  display: none;
}