// PLACE HOLDER PARA LOS ITEMS DE: _playlists
%container {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(4, 1fr);
}

%item{
    position: relative;
    padding: 1rem;
    border-radius: .2rem;
    transition: background-color .2s linear;
    background-color: var(--item-bg-color);
    &:hover {
        background-color: var(--item-hover-bg-color);
    }
}

%source-link{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--index-front);
}

%info {
    margin-bottom: 1rem;
}

%img-container {
    position: relative;
    margin-bottom: 1rem;
    .artist-img {
        border-radius: 50%;
    }
}

%play-pause {
    position: absolute;
    bottom: 0;
    right: .29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    opacity: 0;
    z-index: var(--index-overlay);
    background-color: green;
    transition: .12s linear;
    
    .item:hover & {
        opacity: 1;
        bottom: .29rem;
    }
    &.is-active {
        opacity: 1;
        bottom: .29rem;
        .play-icon {
            opacity: 0;
        }
        .pause-icon {
            opacity: 1;
        }
    }

    &.is-active:hover {
        transform: scale(112%);
    }

    .icon {
        position: absolute;
        width: .5rem;
    }

    .play.icon {
        opacity: 1;
    }
    .pause.icon {
        opacity: 0;
    }
}