/* 

HEADER, CABECERA DEL CONTENIDO PRINCIPAL

*/
@use "../mixins/breakpoint" as *;

/* para todos los HEADER */
.HEADER {
    display: none;
    grid-template-columns: auto auto 1fr auto;
    position: absolute;
    padding: .46rem;
    width: 100%;
    background-color: var(--header-color);
    grid-area: HEADER-MAIN;
    justify-content: space-around;
    
    @include breakpoint(b2){
        display: grid;
    }
    &.normal {
        grid-template-columns: auto 1fr auto auto;
    }
}

.void {
    display: block;
    padding: .6rem 0;
    color: transparent;
    z-index: var(--index-back);
}

.HEADER .collection-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.HEADER .collection-menu .link {
    display: inline-block;
    padding: .6rem .9rem;
}
.HEADER .collection-menu .link.actual {
    border-radius: .2em;
    background-color: var(--item-hover-bg-color);
}

.HEADER .page-navigation {
    display: flex;
    gap: .6rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    .button {
        all: unset;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.72);
        border-radius: 50%;
        padding: .27rem;
        margin: auto;
    }
    
    svg {
        display: block;
        width: 1.27rem;
        height: auto;
    }
}

.HEADER .form-search {
    display: flex;
    border-radius: 2rem;
    background-color: rgb(246, 246, 246);

    input {
        all: unset;
    }

    svg {
        margin: 0 .6rem;
        width: 1.27rem;
        height: auto;
    }
}

.HEADER .premium {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 0 1.9rem;
    border-radius: 2rem;
    color: var(--title-color);
    background-color: var(--user-bg-color);
    border: 1.27px solid var(--text-color);
    font-weight: bold;
    transition: 27ms;

    &:hover {
        border-color: var(--title-color);
        transform: scale(1.06);
    } 
}

.HEADER .link {
    padding: .6rem .4rem;
    display: block;
    text-align: left;
    color: var(--link-color);
    border-radius: .12rem;
}