/* 

MAIN, CONTENIDO PRINCIPAL

*/

@use "../mixins/breakpoint.scss" as *;

main {
  grid-area: HEADER-MAIN;
  padding: 1.27rem .9rem;
  overflow-x: hidden;
  overflow-y: auto;

  @include breakpoint(b2) {
    padding: 4rem 2rem;
  }
}