@use "../mixins/breakpoint.scss" as *;

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.6rem, auto));
  gap: 1.27rem;
}

.items-row {
  display: flex;
  gap: 1.27rem;
  overflow: auto;
}

.items-compact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.27rem;
}

.side-buttons-container {
  display: flex;
  justify-content: space-between;
}

.side-buttons {
  display: flex;
  gap: .9rem
}