/* 

PANEL, MENU DE LA DERECHA

*/
@use "../vars";

.PANEL {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    grid-area: PANEL;
    background-color: var(--panel-bg-color);
    
    @media screen and (min-width: vars.$media-screen) {
        padding: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
    }
}

.PANEL .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @media screen and (min-width: vars.$media-screen) {
        display: block;
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
}

.PANEL .menu .premium {
    @media screen and (min-width: vars.$media-screen) {
        display: none;
    }
}

.PANEL .buttons {
    display: none;
    flex-direction: column;
    
    @media screen and (min-width: vars.$media-screen) {
        display: flex;
    }
}

.PANEL .menu .text,
.PANEL .buttons .text {
    padding: .6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: inherit;
    font-weight: bold;
    
    @media screen and (min-width: vars.$media-screen) {
        flex-direction: row;
        gap: 1.2rem;
    }
}

.PANEL .create-playlist {
    background-color: transparent;
}

.PANEL .hr {
    display: none;
    
    @media screen and (min-width: vars.$media-screen) {
        display: block;
    }
}

.PANEL .playlists-shortcut {
    display: none;

    @media screen and (min-width: vars.$media-screen) {
        display: block;
    }
}

.PANEL .pl .text{
    padding: .4em .6em;
    display: block;
}

.PANEL .text:not(.pl .text){
    transition: color .12s linear;
}

.PANEL .text:hover{
    color: var(--title-color);
}

.PANEL .menu .actual{
    background-color: var(--item-hover-bg-color);
    border-radius: .29em;
}

.PANEL .actual{
    color: var(--title-color);
}

.PANEL .panel-icon {
    width: 1.4rem;
    height: auto;
}
