/* 

PANEL, MENU DE LA DERECHA

*/

.PANEL {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    grid-area: PANEL;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    background-color: var(--panel-bg-color);
}

.PANEL .menu {
    padding-top: .6rem;
    padding-bottom: .6rem;
}


.PANEL .buttons {
    display: flex;
    flex-direction: column;
}

.PANEL .menu .text,
.PANEL .buttons .text {
    padding: .6em;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: inherit;
    font-weight: bold;
}

.PANEL .create-playlist {
    background-color: transparent;
}


.PANEL .pl .text{
    padding: .4em .6em;
    display: block;
}

.PANEL .text:not(.pl .text){
    transition: color .12s linear;
}

.PANEL .text:hover{
    color: var(--title-color);
}

.PANEL .menu .actual{
    background-color: var(--item-hover-bg-color);
    border-radius: .29em;
}

.PANEL .actual{
    color: var(--title-color);
}

.PANEL .panel-icon {
    width: 1.4rem;
    height: auto;
}
