.h-bg-color-dark-1 {
  background-color: var(--user-bg-color);
}

.h-bg-color-dark-2 {
  background-color: var(--panel-bg-color);
}

.h-bg-color-dark-3 {
  background-color: var(--section-bg-color);
}

.h-bg-color-dark-4 {
  background-color: var(--item-bg-color);
}