/* 

PANEL, MENU DE LA DERECHA

*/
@use "../mixins/breakpoint" as *;

.PANEL {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  grid-area: PANEL;
  background-color: var(--panel-bg-color);
  
  @include breakpoint(b2) {
    padding: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @include breakpoint(b2) {
      display: block;
      padding-top: .6rem;
      padding-bottom: .6rem;
    }
  }
  
  .create-playlist {
    background-color: transparent;
  }
  
  .hr {
    display: none;
    
    @include breakpoint(b2) {
      display: block;
    }
  }
  
  .link {
    padding: .6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: inherit;
    font-weight: bold;
    transition: filter .12s linear;
    color: var(--title-color);
    filter: brightness(.6);
    
    &:hover{
      filter: brightness(1);
    }
    &.actual{
      filter: brightness(1);
      background-color: var(--item-hover-bg-color);
      border-radius: .29em;
    }

    @include breakpoint(b2) {
      flex-direction: row;
      gap: 1.2rem;
    }
  }

  .hidden-on-small-screen {
    display: none;
    @include breakpoint(b2) {
      display: block;
    }
  }

  .hidden-on-big-screen {
    display: block;
    @include breakpoint(b2) {
      display: none;
    }
  }
  
  //atajo para listas de reproduccion creadas
  .playlists-shortcut {
    display: none;
    
    @include breakpoint(b2) {
      display: block;
    }
  }

  .pl .text{
    padding: .4em .6em;
    display: block;
  }

  .panel-icon {
    width: 1.4rem;
    height: auto;
  }
}