.sourceLink {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--index-front);
}

.item {
  position: relative;
  border-radius: .26rem;
  transition: background-color .2s linear;
  overflow: hidden;

  &:not(.itemCompact) {
    min-width: 9rem;
    min-height: 9rem;
  }

  &.s_uiDesk {
    &:not(.itemCompact) {
      padding: 1rem;
    }

    &:hover {
      background-color: var(--item-hover-bg-color);
    }
  }

  &.s_uiM {
    padding: 0;
  }
}

.itemCompact {
  display: inline-flex;
  align-items: center;
  gap: .9rem;
  padding: 0;

  &:active {
    filter: brightness(.72);
    transform: scale(.96);
  }
}

.container {
  position: relative;

  .itemCompact & {
    img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
    }
  }
}

.infoContainer {
  margin: 1rem 0;
}