@use "../../mixins/breakpoint" as *;

#desk-panel {
  display: none;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint(b2) {
    display: flex;
    padding: 1rem;
  }

  .menu {
    display: block;
    padding-top: .6rem;
    padding-bottom: .6rem;
  }
}