@use "../../mixins/breakpoint.scss" as *;

.item {
  padding: .6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  transition: filter .12s linear;
  filter: brightness(.6);

  &:hover {
    filter: brightness(1);
  }

  &.actual {
    filter: brightness(1);
    background-color: var(--item-hover-bg-color);
    border-radius: .29em;
  }

  @include breakpoint(b2) {
    flex-direction: row;
    gap: 1.2rem;
  }
}