@use "../../mixins/breakpoint.scss" as *;

.item {
  padding: .6em;
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  transition: filter .12s linear;
  filter: brightness(.6);

  &.activeLink {
    filter: brightness(1);
    background-color: var(--item-hover-bg-color);
    border-radius: .29em;
  }
}

.s_uiM {
  flex-direction: column;

  &:active {
    filter: brightness(1);
  }
}

.s_uiDesk {
  flex-direction: row;
  gap: 1.2rem;

  &:hover {
    filter: brightness(1);
  }
}