// PARA LAS PAGINAS QUE SON LISTA DE REPRODUCCION Y ALBUMS DEL ARTISTA
// _playlist _tracks(de collection)

%banner{
    display: grid;
    gap: 1.9rem;
    grid-template-columns: 12rem auto;
    align-items: end;
    margin-bottom: 2rem;
}