/* 

HEADER, CABECERA DEL CONTENIDO PRINCIPAL

*/

/* para todos los HEADER */
#idHeader {
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-area: HEADER-MAIN;
  padding: .46rem;
  height: 3.6rem;
  width: 100%;
  background-color: var(--header-color);
  z-index: var(--index-fixed);
}