@use "vars";
:root {
    --h1-font-size: 3.6rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.2rem;
    --big-font-size: 1.4rem;
    --medium-font-size: 1.25rem;
    --small-font-size: 1.05rem;
    --smaller-font-size: 0.9rem;
    /* colores */
    --user-bg-color: rgb(9, 9, 9);
    --panel-bg-color: rgb(9, 14, 29);
    --section-bg-color: rgb(25, 23, 28);
    --header-color: rgba(42, 46, 54, 0.8);
    --item-bg-color: rgb(29, 29, 40); 
    --title-color: rgb(250, 255, 249);
    --text-color: rgb(160, 160, 160);
    --link-color: rgb(240, 240, 240);
    --item-hover-bg-color: rgba(60, 60, 60);
    --menu-hover-bg-color: rgb(42, 46, 54);
    --link-hover-bg-color: rgb(76, 80, 87);
    /* profundidad index  */
    --index-back: -9;
    --index-front: 9;
    --index-overlay: 19;
    --index-fixed: 29;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html, body, #__next {
    width: 100%;
    height: 100%;
}

html {
    font-size: 14px;

    @media screen and (min-width: vars.$font-size-media-screen) {
        font-size: 16px;
    }
}

img {
    display: block;
    width: 100%;
}



/* fs es font-size */
.fs-h1{
    font-size: var(--h1-font-size);
}
.fs-h2{
    font-size: var(--h2-font-size);
}
.fs-h3{
    font-size: var(--h3-font-size);
}
.fs-h4{
    font-size: var(--h4-font-size);
}

.fs-p1{
    font-size: var(--big-font-size);
}
.fs-p2{
    font-size: var(--medium-font-size);
}
.fs-p3{
    font-size: var(--small-font-size);
}
.fs-p4{
    font-size: var(--smaller-font-size);
}


.title {
    color: var(--title-color);
}

.text {
    color: var(--text-color);
}

/* CONTENDOR RAIZ DE TODO EL CONTENIDO DE LA PAGINA */
.root-container {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-areas: 
    "HEADER-MAIN"
    "HEADER-MAIN"
    "FOOTER"
    "PANEL";
    
    @media screen and (min-width: vars.$media-screen) {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "PANEL HEADER-MAIN"
        "FOOTER FOOTER";
    }
}