@use "../mixins/breakpoint" as *;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html, body, #__next {
  width: 100%;
  height: 100%;
}

html {
  font-size: 14px;

  @include breakpoint(b1) {
    font-size: 16px;
  }
}

img {
  display: block;
  width: 100%;
}

svg {
  display: block;
}

/* CONTENDOR RAIZ DE TODO EL CONTENIDO DE LA PAGINA */
#__next {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas: 
  "HEADER-MAIN"
  "HEADER-MAIN"
  "FOOTER"
  "PANEL";
  
  @include breakpoint(b2) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "PANEL HEADER-MAIN"
    "FOOTER FOOTER";
  }
}