@use "../mixins/breakpoint" as *;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html, body, #__next {
  width: 100%;
  height: 100%;
}

html {
  font-size: 14px;

  @include breakpoint(b1) {
    font-size: 16px;
  }
}

img {
  display: block;
  width: 100%;
}

svg {
  display: block;
}
