:root {
    --h1-font-size: 3.6rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.2rem;
    --big-font-size: 1.4rem;
    --medium-font-size: 1.25rem;
    --small-font-size: 1.05rem;
    --smaller-font-size: 0.9rem;
    /* colores */
    --user-bg-color: rgb(9, 9, 9);
    --panel-bg-color: rgb(9, 14, 29);
    --section-bg-color: rgb(20, 19, 22);
    --item-bg-color: rgb(29, 29, 40); 
    --header-color: rgba(42, 46, 54, 0.8);
    --menu-hover-bg-color: rgb(42, 46, 54);
    --item-hover-bg-color: rgba(60, 60, 60);
    --link-hover-bg-color: rgb(76, 80, 87);
    --color-text-light: #fff;
    --color-text-light-alt: rgb(229, 229, 229);
    --color-text-gray: #a0a0a0;
    /* profundidad index  */
    --index-back: -9;
    --index-front: 9;
    --index-overlay: 19;
    --index-fixed: 29;
}