::-webkit-scrollbar {
  background-color: transparent;
  width: .9rem;
  height: .9rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #272727;
  
  &:hover {
    background-color: #404040;
  }
  
  &:active {
    background-color: #606060;
  }
}