/* CONTENDOR RAIZ DE TODO EL CONTENIDO DE LA PAGINA */
#root_uiM, #root_uiDesk {
  display: grid;
  position: relative;
  width: inherit;
  height: inherit;
}

#root_uiM {
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas:
    "HEADER-MAIN"
    "HEADER-MAIN"
    "FOOTER"
    "PANEL";
}

#root_uiDesk {
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "PANEL HEADER-MAIN"
    "FOOTER FOOTER";
}